
*{
    font-family: "Open Sans", serif;
}
header{
    background-image: url('images/developer.png'),url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* margin-left: 30px; */
    /* background-color: #FFF8F3; */
}
.main-head{
    background-color: #FFF8F3;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0px 150px;
}
h4{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      font-size: 40px;
}
span{
    color: #FD6E0A;
}
ul{
display: flex;
align-items: center;
}
nav ul li{

    list-style: none;
    margin-right: 50px;
    font-size: 18px;

}
ul li a{
    text-decoration: none;
}
.font{
    color: #474747;
}
button{
   background-color: #FD6E0A;
   color: white;
   padding: 18px 30px;
   font-size: 19px;
   font-weight: bold;
   border: none;
   border-radius: 6px;
}
/* body part */
.header-body-container{
    display: flex;
    justify-content: space-between;
   margin: 0px 30px 0px 150px;
}
.f-para{
color: #474747;
font-size: 40px;
font-weight: 600;
}
.s-para{
color: #181818;
font-size: 80px;
font-weight: bold;
margin-bottom: 20px;
}
.t-para{
color: #757575;
font-size: 18px;
/* margin-bottom: 20px; */
}
.btn-1{
    margin-top: 10px;
    margin-right: 10px;
}

/* body-part-starts */
#first-sec-1{
   background-color: #FFF8F3;
   max-width: 1140px;
   margin: 0 auto;
   padding: 130px 150px;
   margin-top: 130px;
   text-align: center;
   
}
.body-h4{
    font-weight: bold;
    color: #181818;
    font-size: 35px;
}
.body-pre{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.adv{
    display: flex;
    justify-content: space-around;
}
.name{
    color: #757575;
    font-size: 20px;

}
.name-2{
    color: #474747;
    font-weight: bold;
    font-size: 20px;
}
/* second body styling */
#second-sec-2{
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}
.second-h4-sec{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
.second-tit{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
/* third section body part */
#third-sec-3{
    display: flex;
 justify-content: center;
  
}
.my-skill{
    max-width: 260px;
    margin-right: 30px;
    padding: 100px 50px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,6%);
    border-radius: 5px;
}
main{
    margin-bottom: 150px;
}
 